body {
  font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    overflow-x: hidden;
}


header {
    font-family: 'Times New Roman', Times, serif;
    background-color: #a33c3c;
    color: #f5e2cc;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: #913535;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #f5e2cc;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
}

nav a:hover {
    background-color: #e0be92;
    color:#a33c3c;
    border-radius: 5px;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    min-height: 400px;
    border: 2px solid #913535;
}

.class1{
  max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    min-height: 400px;
    border: 2px solid #913535;
}

footer {
  text-align: center;
  bottom: 0;
  padding: 50px;
  background-color:#a33c3c;
}